
.category-menu {
    width: 350px;
    height: fit-content;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    padding: 0;
}

/* */
.events-container {
  padding: 0 15px;
}

.events__title{
    color: black;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 16px;
}

div .events__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.events__item{
  background: white;
  border-left: 8px solid #235B4E;
  border-radius: 2px;
  -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  padding: 15px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.events__item-left{
  width: calc(100% - 76px);
}

.events__tag{
  background: #235B4E;
  border: 2px solid #fefefe;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 60px;
  margin-left: 16px;
  padding: 5px 2px;
  text-align: center;
}

.events__name{
  font-size: 14px;
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 6px;
}

.events__date{
  font-size: 12px;
  color: #98989A;
  display: inline-block;
}


/* .events {
  

  @include e(item) {
    background: $white;
    border-left: 8px solid $primary-color;
    border-radius: 2px;
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include m(left) {
      width: calc(100% - 76px);
    }
  }

  @include e(name) {
    font-size: $sm-font-size;
    font-weight: $font-weight--bold;
    color: $black;
    display: block;
    margin-bottom: 6px;
  }

  @include e(date) {
    font-size: $sm-font-size;
    color: palette(gray-shades, darker);
    display: inline-block;
  }
}
 */


/*Event card */
.events-card {
    max-height: 700px;
    width: 230px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    background: white;
    margin-bottom: 50px;
  }

  .events-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .event-date {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 10px;
  }
  
  .event-info span {
    font-size: 16px;
    text-transform: uppercase;
    color: #9F2241;
    letter-spacing: 1px;
    font-weight: bold;
  }

